.PrecisionMarketingView {
	position: absolute;
}

.PrecisionMarketingView>#PM_ul {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 50px;
	top: 14px;
	width: 400px;
	height: 77px;
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

.PrecisionMarketingView .icon {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin-left: 24px;
	width: 76px;
	height: 76px;
	z-index: 99999;
	background-repeat: no-repeat;
}

.PrecisionMarketingView>#push {
	position: absolute;
	padding: 0;
	margin: 0;
	left: 50px;
	width: 400px;
	height: 77px;
	list-style: none;
	text-align: center;
	vertical-align: middle;
}

.PrecisionMarketingView .pushIcon {
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	margin-left: 24px;
	bottom: 16px;
	width: 76px;
	height: 22px;
	z-index: 99999;
	background-color: #192230;
	color: #00ffff;
	border-radius: 5px;
}

.PrecisionMarketingView .pushIcon  text {
	position: relative;
	text-shadow: #00ffff 0 0 11px;
	font-size: 12px;
	top: -4px;

}

.PrecisionMarketingView  #left {
	left: 5px;
	top: 46px;
	position: absolute;
	width: 14px;
	height: 30px;
	z-index: 99999;
	cursor: pointer;
}

.PrecisionMarketingView  #right {
	right: 5px;
	top: 46px;
	position: absolute;
	width: 14px;
	height: 30px;
	z-index: 99999;
	cursor: pointer;
}

.PrecisionMarketingView #left.hoved {
	background: url(images/left_on.png);
}

.PrecisionMarketingView #left.unhoved {
	background: url(images/left.png);
}

.PrecisionMarketingView #right.hoved {
	background: url(images/right_on.png);
}

.PrecisionMarketingView #right.unhoved {
	background: url(images/right.png);
}